
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/LayoutPage1.cshtml";
}


<style>
    .background-image {
        background-image: url('/attend.jpg');
        background-size: contain; /* This will scale the background image to be as large as possible */
        background-position: center; /* This will center the background image */
        background-repeat: no-repeat; /* This will prevent the background image from repeating */
        height: 100vh; /* This will make the element take up the full viewport height */
    }
</style>

<div class="background-image"></div>
